.alike {
  padding-block: 35px 70px;
  row-gap: 27px;

  @media (min-width: 768px) {
    padding-block-start: 13px;
  }

  @media (min-width: 1024px) {
    padding-block-start: 39px;
  }

  &__title {
    margin-block: 0;
    grid-column: 1 / 7;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    z-index: 2;

    @media (min-width: 768px) {
      grid-column: 1 / 6;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 9;
    }

    @media (min-width: 1400px) {
      grid-column: 1 / 12;
    }
  }

  &__slider {
    padding-bottom: 48px;
    grid-column: 1 / 7;
    width: 100%;

    @media (min-width: 768px) {
      margin-top: -58px;
      padding-top: 58px;
      padding-bottom: 0;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 10;
    }

    @media (min-width: 1400px) {
      grid-column: 1 / 13;
    }

    .swiper-button-prev {
      left: calc(50% - 38px);
      top: auto;
      bottom: 0;
      width: 32px;
      height: 32px;
      transform: rotate(180deg);

      @media (min-width: 768px) {
        bottom: auto;
        top: 22px;
        left: auto;
        right: 45px;
      }

      &::after {
        content: '';
      }
    }

    .swiper-button-next {
      right: calc(50% - 38px);
      top: auto;
      bottom: 0;
      width: 32px;
      height: 32px;

      @media (min-width: 768px) {
        bottom: auto;
        top: 22px;
        right: 0;
      }

      &::after {
        content: '';
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      &:hover > svg > path {
        stroke: var(--clr-white);
      }

      &:hover > svg > circle {
        fill: var(--clr-primary);
      }

      &:focus-visible {
        outline: none;
      }

      &:focus-visible > svg > path {
        stroke: var(--clr-white);
      }

      &:focus-visible > svg > circle {
        fill: var(--clr-primary-light);
      }

      &:active > svg > path {
        stroke: var(--clr-white);
      }

      &:active > svg > circle {
        fill: var(--clr-primary-shade);
        stroke: var(--clr-primary-shade);
      }

      & > svg {
        display: block;

        & > path,
        & > circle {
          transition: stroke 0.1s ease-in-out, fill 0.1s ease-in-out;
        }
      }
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      opacity: 1;

      & > svg > path,
      & > svg > circle {
        stroke: var(--clr-gray);
        fill: none;
      }
    }
  }

  .card {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-gray-light);
    border-radius: 10px;

    @media (min-width: 768px) {
      padding: 30px;
    }

    .rating {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 6px;

      @media (min-width: 768px) {
        margin-bottom: 15px;
        gap: 7px;
      }

      &__star {
        width: 13px;
        height: 12px;

        @media (min-width: 768px) {
          width: 16px;
          height: 15px;
        }
      }

      &__text {
        font-size: 12px;
        line-height: 1.3;
        color: var(--clr-secondary);

        @media (min-width: 768px) {
          font-size: 16px;
        }
      }
    }

    &__img {
      margin-bottom: 10px;
      height: 54px;
      width: 100%;

      @media (min-width: 768px) {
        margin-bottom: 16px;
        margin-left: -15px;
        width: calc(100% + 30px);
        height: 125px;
      }

      & > * {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media (min-width: 768px) {
          object-position: bottom;
        }
      }
    }

    &__title {
      margin-block: 0 17px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;

      @media (min-width: 768px) {
        margin-bottom: 22px;
        font-size: 24px;
      }
    }

    &__price {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      color: var(--clr-gray-shade);

      @media (min-width: 768px) {
        margin-bottom: 24px;
      }
    }

    &__link {
      margin-top: auto;
      padding-block: 10px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 1;
      color: var(--clr-primary);
      border: 2px solid var(--clr-primary);
      border-radius: 10px;
      transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;

      @media (min-width: 768px) {
        padding: 17px 33px;
        align-self: flex-start;
      }

      &:hover {
        color: var(--clr-white);
        background-color: var(--clr-primary);
        border-color: var(--clr-primary);
      }

      &:focus-visible {
        color: var(--clr-white);
        background-color: var(--clr-primary-light);
        border-color: var(--clr-primary);
        outline: none;
      }

      &:active {
        color: var(--clr-white);
        background-color: var(--clr-primary-shade);
        border-color: var(--clr-primary-shade);
      }

      &:disabled {
        color: var(--clr-gray);
        background-color: var(--clr-gray-middle);
        border-color: var(--clr-gray-middle);
      }
    }
  }
}
