.contact-us {
  padding-block: 35px 70px;

  &__data {
    grid-column: 1 / 7;

    @media (min-width: 768px) {
      grid-column: 1 / 5;
    }

    @media (min-width: 1400px) {
      grid-column: 1 / 7;
    }
  }

  &__title {
    margin-block: 0 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;

    @media (min-width: 768px) {
      font-size: 32px;
      margin-bottom: 9px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    color: var(--clr-gray-shade);
  }

  &__tooltip {
    display: inline;
    position: relative;
    top: 1px;
    left: 2px;

    @media (min-width: 768px) {
      left: 5px;
    }
  }

  .tooltip {
    &:hover > .tooltip__text,
    &:focus-visible > .tooltip__text {
      opacity: 1;
    }

    &:focus-visible {
      outline: none;
    }

    &:hover > .tooltip__icon > path:nth-child(2),
    &:focus-visible > .tooltip__icon > path:nth-child(2) {
      fill: transparent;
    }

    &:hover > .tooltip__icon > path:nth-child(3),
    &:focus-visible > .tooltip__icon > path:nth-child(3) {
      fill: var(--clr-white);
    }

    &__icon {
      cursor: pointer;

      & > path {
        transition: fill 0.1s ease-in-out;
      }
    }

    &__text {
      display: flex;
      position: absolute;
      bottom: calc(100% + 8px);
      right: 50%;
      transform: translateX(50%);
      margin-block: 0;
      padding: 5px;
      max-width: 157px;
      text-align: center;
      font-size: 9px;
      line-height: 14px;
      color: var(--clr-white);
      background-color: var(--clr-black);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.1s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        border-top: 8px solid var(--clr-black);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }
  }

  &__form {
    margin-top: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__label {
      position: relative;
      width: 100%;

      &--error {
        position: absolute;
        left: 18px;
        bottom: calc(100%);
        font-size: 12px;
        line-height: 16px;
        color: var(--clr-red-input);
      }
    }

    &__input {
      padding: 6px 17px;
      width: 100%;
      font-size: 16px;
      line-height: 40px;
      background-color: var(--clr-gray-light);
      border: 1px solid var(--clr-gray-light);
      border-radius: 10px;
      transition: border-color 0.1s ease-in-out,
        background-color 0.1s ease-in-out;

      &:placeholder-shown + .search__icon > path {
        fill: var(--clr-gray);
      }

      &::placeholder {
        color: var(--clr-gray);
      }

      &:hover {
        background-color: var(--clr-gray-middle);
        border-color: var(--clr-gray-middle);
      }

      &:focus-visible {
        background-color: var(--clr-pink-light);
        border-color: var(--clr-primary);
        outline: none;
      }

      &--invalid.form__input {
        border-color: var(--clr-red-input);
      }

      &--valid.form__input {
        border-color: var(--clr-green-input);
      }
    }

    &__btn {
      padding: 19px 35px;
      align-self: flex-start;
      font-weight: 600;
      font-size: 16px;
      line-height: 1;
      color: var(--clr-white);
      background-color: var(--clr-primary);
      border-radius: 10px;
      transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;

      &:hover {
        background-color: var(--clr-primary-light);
        border-color: var(--clr-primary-light);
      }

      &:focus-visible {
        background-color: var(--clr-primary-light);
        border-color: var(--clr-primary-shade);
        outline: none;
      }

      &:active {
        background-color: var(--clr-primary-shade);
        border-color: var(--clr-primary-shade);
      }

      &:disabled {
        color: var(--clr-gray);
        background-color: var(--clr-gray-middle);
        border-color: var(--clr-gray-middle);
      }
    }

    &__checkbox {
      margin-top: -17px;

      @media (min-width: 768px) {
        margin-top: -18px;
      }
    }

    .checkbox {
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      @media (min-width: 768px) {
        gap: 8px;
      }

      &:hover > .checkbox__icon {
        background-color: var(--clr-pink-violet);
      }

      &__input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:not(:checked) + .checkbox__icon {
          outline: 1px solid var(--clr-gray);
        }

        &:not(:checked) + .checkbox__icon > * {
          fill: transparent;
          stroke: transparent;
        }

        &:focus-visible + .checkbox__icon {
          background-color: var(--clr-pink-violet);
        }

        &.form__input--invalid + .checkbox__icon {
          outline-color: var(--clr-red-input);
        }
      }

      &__icon {
        width: 14px;
        height: 14px;
        border-radius: 2px;
        outline-offset: -1px;
        transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out;

        & > * {
          transition: fill 0.1s ease-in-out, stroke 0.1s ease-in-out;
        }
      }

      &__text {
        font-size: 12px;
        line-height: 16px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 19px;
        }
      }

      &__link {
        color: var(--clr-primary);
        text-decoration: underline;
        transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out;

        &:hover {
          color: var(--clr-primary-light);
        }

        &:focus-visible {
          color: var(--clr-primary-shade);
          background-color: var(--clr-pink-violet);
          outline: 2px solid var(--clr-pink-violet);
          outline-offset: 0;
        }

        &:active {
          color: var(--clr-primary-shade);
        }
      }
    }
  }

  &__img {
    display: none;

    @media (min-width: 768px) {
      padding-top: 13px;
      display: block;
      grid-column: 5 / 7;
    }

    @media (min-width: 1024px) {
      padding-top: 77px;
      grid-column: 5 / 10;
    }

    @media (min-width: 1400px) {
      padding-top: 25px;
      grid-column: 7 / 13;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    & > * {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
