:root {
  --clr-primary: #A65CF0;
  --clr-primary-light: #C998FB;
  --clr-primary-shade: #7033AC;
  --clr-pink-light: #F8EFFF;
  --clr-pink-violet: #EBD1FF;
  --clr-secondary: #FF862F;
  --clr-secondary-light: #FFBD59;
  --clr-secondary-shade: #BB370E;
  --clr-red-input: #FF6972;
  --clr-green-input: #B8EC64;
  --clr-gold: #D5B986;
  --clr-white: #FFFFFF;
  --clr-gray-light: #F6F6F6;
  --clr-gray-middle: #EAEAEA;
  --clr-gray: #999999;
  --clr-gray-shade: #666666;
  --clr-black: #333333;
  --clr-bg-20-percent: #00000033;
  --clr-lime: #DAFFD1;
  --clr-bone: #FFF5D1;
}

.footer {

  &__content {
    padding-block: 24px 25px;
    gap: 24px;
    background-color: var(--clr-gray-middle);

    @media (min-width: 768px) {
      padding-block: 26px 24px;
    }

    @media (min-width: 1024px) {
      gap: 31px 32px;
    }
  }

  &__logo {
    grid-column: 1 / 7;
    justify-self: center;

    @media (min-width: 768px) {
      grid-column: 1 / 3;
      justify-self: start;
      align-self: center;
    }

    @media (min-width: 1024px) {
      grid-row: 1 / 2;
      align-self: top;
    }
  }

  &__socials {
    grid-column: 1 / 7;
    justify-self: center;
    display: flex;
    gap: 20px;

    @media (min-width: 768px) {
      grid-column: 5 / 7;
      justify-self: end;
    }

    @media (min-width: 1024px) {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      justify-self: start;
      align-self: bottom;
    }
  }

  .social {
    &__icon {
      display: block;
    }
  }

  &__nav {
    grid-column: 1 / 7;

    @media (min-width: 1024px) {
      grid-row: 1 / 3;
      grid-column: 3 / 10;
    }

    @media (min-width: 1400px) {
      grid-column: 5 / 13;
    }
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 16px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      gap: 39px;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 4.5px;

      &__title {
        font-size: 16px;
        line-height: 1.3;
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__link {
          font-size: 14px;
          line-height: 1;
          color: var(--clr-gray);
        }
      }
    }
  }

  &__copyright {
    padding-block: 5px 6px;
    background-color: var(--clr-gray-light);

    &-text {
      grid-column: 1 / 7;
      justify-self: center;
      font-size: 14px;
      line-height: 19px;
      color: var(--clr-gray);

      @media (min-width: 1024px) {
        grid-column: 1 / 10;
      }

      @media (min-width: 1400px) {
        grid-column: 1 / 13;
      }
    }
  }

}
