.footer {
  &__content {
    padding-block: 24px 25px;
    gap: 24px;
    background-color: var(--clr-gray-middle);

    @media (min-width: 768px) {
      padding-block: 24px;
    }

    @media (min-width: 1024px) {
      gap: 31px 32px;
    }
  }

  &__link {
    grid-column: 1 / 7;
    justify-self: center;
    transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:focus-visible {
      background-color: var(--clr-pink-violet);
      outline: 3px solid var(--clr-pink-violet);
      outline-offset: 0;
    }

    @media (min-width: 768px) {
      grid-column: 1 / 3;
      justify-self: start;
      align-self: center;
    }

    @media (min-width: 1024px) {
      grid-row: 1 / 2;
      align-self: start;
    }
  }

  &__logo {
    display: block;
  }

  &__socials {
    grid-column: 1 / 7;
    justify-self: center;
    display: flex;
    gap: 20px;

    @media (min-width: 768px) {
      grid-column: 5 / 7;
      justify-self: end;
    }

    @media (min-width: 1024px) {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      justify-self: start;
      align-self: end;
    }
  }

  .social {
    &__link {
      display: block;
      line-height: 0;
      transition: background-color 0.1s ease-in-out, outline 0.1s ease-in-out;

      &:hover > .social__icon > path {
        fill: var(--clr-primary);
      }

      &:focus-visible {
        background-color: var(--clr-primary-light);
        outline: 3px solid var(--clr-primary-light);
        outline-offset: 0;
      }

      &:focus-visible > .social__icon > path {
        fill: var(--clr-white);
      }

      &:active > .social__icon > path {
        fill: var(--clr-primary-shade);
      }

      &__icon {
        display: block;

        & > path {
          transition: fill 0.1s ease-in-out;
        }
      }
    }
  }

  &__nav {
    grid-column: 1 / 7;

    @media (min-width: 1024px) {
      grid-row: 1 / 3;
      grid-column: 3 / 10;
    }

    @media (min-width: 1400px) {
      grid-column: 5 / 13;
    }
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 16px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      gap: 39px;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 4.5px;

      &__title {
        font-size: 16px;
        line-height: 1.3;
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__link {
          width: max-content;
          font-size: 14px;
          line-height: 1;
          color: var(--clr-gray);
          transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
            outline 0.1s ease-in-out;

          &:hover {
            color: var(--clr-primary);
          }

          &:focus-visible {
            color: var(--clr-primary-shade);
            background-color: var(--clr-pink-violet);
            outline: 3px solid var(--clr-pink-violet);
            outline-offset: 0;
          }

          &:active {
            color: var(--clr-primary-shade);
          }
        }
      }
    }
  }

  &__copyright {
    padding-block: 5px 6px;
    background-color: var(--clr-gray-light);

    &-text {
      grid-column: 1 / 7;
      justify-self: center;
      font-size: 14px;
      line-height: 19px;
      color: var(--clr-gray);

      @media (min-width: 1024px) {
        grid-column: 1 / 10;
      }

      @media (min-width: 1400px) {
        grid-column: 1 / 13;
      }
    }
  }
}
