.modal {
  position: fixed;
  inset: 0;
  align-items: center;
  background-color: rgba(0 0 0 / .3);
  z-index: 100;

  &__gallery {
    grid-column: 1 / 7;

    @media (min-width: 1024px) {
      grid-column: 1 / 10;
    }

    @media (min-width: 1400px) {
      grid-column: 1 / 13;
    }
  }

  .gallery {
    position: relative;
    background-color: var(--clr-white);
    border-radius: 10px;
    overflow: hidden;

    &__photos {
      height: 168px;
      width: 100%;
      padding: 32px 16px;

      @media (min-width: 768px) {
        height: 328px;
        padding: 50px 20px;
      }

      @media (min-width: 1024px) {
        height: 422px;
        padding-inline: 66px;
      }

      @media (min-width: 1400px) {
        height: 518px;
        padding-inline: 108px;
      }
    }

    &__thumbs {
      width: 100%;
      height: 118px;
      padding: 16px 62px;
      background-color: var(--clr-gray-light);

      @media (min-width: 768px) {
        height: 166px;
        padding: 20px 79px;
      }

      @media (min-width: 1024px) {
        padding-inline: 66px;
      }

      @media (min-width: 1400px) {
        padding-inline: 51px;
      }

      &-slide {
        width: fit-content;
        height: 100%;
        cursor: pointer;
      }

      .swiper-button-prev {
        margin-top: -16px;
        width: 32px;
        height: 32px;
        transform: rotate(180deg);

        &::after {
          content: '';
        }
      }

      .swiper-button-next {
        margin-top: -16px;
        width: 32px;
        height: 32px;

        &::after {
          content: '';
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        &:hover > svg > path {
          stroke: var(--clr-white);
        }

        &:hover > svg > circle {
          fill: var(--clr-primary);
        }

        &:focus-visible {
          outline: none;
        }

        &:focus-visible > svg > path {
          stroke: var(--clr-white);
        }

        &:focus-visible > svg > circle {
          fill: var(--clr-primary-light);
        }

        &:active > svg > path {
          stroke: var(--clr-white);
        }

        &:active > svg > circle {
          fill: var(--clr-primary-shade);
          stroke: var(--clr-primary-shade);
        }

        & > svg {
          display: block;

          & > path,
          & > circle {
            transition: stroke 0.1s ease-in-out, fill 0.1s ease-in-out;
          }
        }
      }

      .swiper-button-prev.swiper-button-disabled,
      .swiper-button-next.swiper-button-disabled {
        opacity: 1;

        & > svg > path,
        & > svg > circle {
          stroke: var(--clr-gray);
          fill: none;
        }
      }
    }

    .swiper-vertical > .swiper-wrapper {
      align-items: center;
    }

    .slide {
      &__img {
        width: 100%;
        height: 100%;

        & > * {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &__form {
    grid-column: 1 / 7;

    @media (min-width: 1024px) {
      grid-column: 1 / 10;
    }

    @media (min-width: 1400px) {
      grid-column: 1 / 13;
    }
  }

  .form {
    position: relative;
    justify-self: center;
    width: 100%;
    max-width: 624px;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--clr-white);
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: 768px) {
      padding: 30px;
      gap: 30px;
    }

    &__title {
      margin-block: 0;
      max-width: 380px;
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
    }

    &__text {
      margin-block: -8px 0;
      max-width: 380px;
      font-size: 14px;
      line-height: 19px;

      @media (min-width: 768px) {
        margin-block-start: -22px;
      }
    }

    &__label {
      position: relative;
      width: 100%;

      &--error {
        position: absolute;
        left: 18px;
        bottom: calc(100%);
        font-size: 12px;
        line-height: 16px;
        color: var(--clr-red-input);
      }
    }

    &__input {
      padding: 6px 17px;
      width: 100%;
      font-size: 16px;
      line-height: 40px;
      background-color: var(--clr-gray-light);
      border: 1px solid var(--clr-gray-light);
      border-radius: 10px;
      transition: border-color 0.1s ease-in-out,
        background-color 0.1s ease-in-out;

      &:placeholder-shown + .search__icon > path {
        fill: var(--clr-gray);
      }

      &::placeholder {
        color: var(--clr-gray);
      }

      &:hover {
        background-color: var(--clr-gray-middle);
        border-color: var(--clr-gray-middle);
      }

      &:focus-visible {
        background-color: var(--clr-pink-light);
        border-color: var(--clr-primary);
        outline: none;
      }

      &--invalid.form__input {
        border-color: var(--clr-red-input);
      }

      &--valid.form__input {
        border-color: var(--clr-green-input);
      }
    }

    &__btn {
      padding: 19px 35px;
      align-self: flex-start;
      font-weight: 600;
      font-size: 16px;
      line-height: 1;
      color: var(--clr-white);
      background-color: var(--clr-primary);
      border-radius: 10px;
      transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;

      &:hover {
        background-color: var(--clr-primary-light);
        border-color: var(--clr-primary-light);
      }

      &:focus-visible {
        background-color: var(--clr-primary-light);
        border-color: var(--clr-primary-shade);
        outline: none;
      }

      &:active {
        background-color: var(--clr-primary-shade);
        border-color: var(--clr-primary-shade);
      }

      &:disabled {
        color: var(--clr-gray);
        background-color: var(--clr-gray-middle);
        border-color: var(--clr-gray-middle);
      }
    }

    &__checkbox {
      margin-top: -4px;
      margin-right: -6px;

      @media (min-width: 768px) {
        margin-top: -18px;
        margin-right: 0;
      }
    }

    .checkbox {
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      @media (min-width: 768px) {
        gap: 8px;
        width: fit-content;
      }

      &:hover > .checkbox__icon {
        background-color: var(--clr-pink-violet);
      }

      &__input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:not(:checked) + .checkbox__icon {
          outline: 1px solid var(--clr-gray);
        }

        &:not(:checked) + .checkbox__icon > * {
          fill: transparent;
          stroke: transparent;
        }

        &:focus-visible + .checkbox__icon {
          background-color: var(--clr-pink-violet);
        }

        &.form__input--invalid + .checkbox__icon {
          outline-color: var(--clr-red-input);
        }
      }

      &__icon {
        width: 14px;
        height: 14px;
        border-radius: 2px;
        outline-offset: -1px;
        transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out;

        & > * {
          transition: fill 0.1s ease-in-out, stroke 0.1s ease-in-out;
        }
      }

      &__text {
        font-size: 12px;
        line-height: 16px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 19px;
        }
      }

      &__link {
        color: var(--clr-primary);
        text-decoration: underline;
        transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out;

        &:hover {
          color: var(--clr-primary-light);
        }

        &:focus-visible {
          color: var(--clr-primary-shade);
          background-color: var(--clr-pink-violet);
          outline: 2px solid var(--clr-pink-violet);
          outline-offset: 0;
        }

        &:active {
          color: var(--clr-primary-shade);
        }
      }
    }
  }

  &__thanks {
    grid-column: 1 / 7;

    @media (min-width: 1024px) {
      grid-column: 1 / 10;
    }

    @media (min-width: 1400px) {
      grid-column: 1 / 13;
    }
  }

  .thanks {
    width: 100%;
    max-width: 624px;
    justify-self: center;
    position: relative;
    padding: 60px 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    background-color: var(--clr-white);
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: 768px) {
      padding: 118px 75px;
      gap: 32px;
    }

    &__icon {
      position: relative;
      left: -7px;

      @media (min-width: 768px) {
        left: -27px;
        width: 172px;
        height: 117px;
      }
    }

    &__title {
      margin-block: 0;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;

      @media (min-width: 768px) {
        font-size: 32px;
      }
    }
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 100;
    padding: 8px;

    @media (min-width: 768px) {
      top: 12px;
      right: 12px;
    }

    &:hover > svg > path {
      fill: var(--clr-primary-light);
    }

    &:focus-visible {
      background-color: var(--clr-primary-light);
      outline: 3px solid var(--clr-primary-light);
      outline-offset: 0;
    }

    &:focus-visible > svg > path {
      fill: var(--clr-white);
    }

    &:active > svg > path {
      fill: var(--clr-primary-shade);
    }

    svg {
      display: block;

      @media (min-width: 768px) {
        width: 20px;
        height: 20px;
      }

      & > path {
        transition: fill 0.1s ease-in-out;
      }
    }
  }
}

