section.banner
  picture.banner__img
    source(srcset=`img/banner-1400px.webp, img/banner-1400px@2x.webp 2x` media='(min-width: 1400px)' type='image/webp')
    source(srcset=`img/banner-1400px.jpg, img/banner-1400px@2x.jpg 2x` media='(min-width: 1400px)')
    source(srcset=`img/banner-1024px.webp, img/banner-1024px@2x.webp 2x` media='(min-width: 1024px)' type='image/webp')
    source(srcset=`img/banner-1024px.jpg, img/banner-1024px@2x.jpg 2x` media='(min-width: 1024px)')
    source(srcset=`img/banner-768px.webp, img/banner-768px@2x.webp 2x` media='(min-width: 768px)' type='image/webp')
    source(srcset=`img/banner-768px.jpg, img/banner-768px@2x.jpg 2x` media='(min-width: 768px)')
    source(srcset=`img/banner.webp, img/banner@2x.webp 2x` type='image/webp')
    source(srcset=`img/banner.jpg, img/banner@2x.jpg 2x`)
    img(src=`img/banner-1400px.jpg` alt='')
  h5.banner__title Оксфорд 1950
  h6.banner__text Новая коллекция изысканных кресел
  a.lnk.banner__link(href='catalog.html') Ознакомиться
