section.contact-us.container
  h2.contact-us__title Мы всегда вам рады!
  span.contact-us__text Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
  img.contact-us__tooltip(src='tooltip.svg')
  form.form.contact-us__form
    input.form__input(type='text' placeholder='Как вас зовут?')
    input.form__input(type='tel' placeholder='Ваш телефон')
    input.form__input(type='email' placeholder='Ваш e-mail')
    button.btn.form__btn(type='submit') Отправить
    label.checkbox.form__checkbox
      input.checkbox__input(type='checkbox')
      img.checkbox__icon(src='checkbox.svg')
      span.checkbox__text Принимаю #[a.lnk.checkbox__link(href='#') пользовательское соглашение]
