footer.footer
  .footer__content.container
    a.footer__link(href=`${logoLink}`)
      img.footer__logo(src='logo.svg')
    ul.lst.footer__socials
      each icon of ['fb.svg', 'vk.svg', 'instagram.svg']
        li.social.footer__social
          a.lnk.social__link(href='#')
            img.social__icon(src=`${icon}`)
    nav.nav.footer__nav
      each section in [{ title: 'О нас', links: ['О компании', 'Блог'] }, { title: 'Услуги', links: ['Доставка', 'Рассрочка и кредит', 'Сборка и установка'] }, { title: 'Связь с нами', links: ['Обратная связь', 'Контакты'] },{ title: 'Сотрудничество', links: ['Поставщикам', 'Оптовикам', 'Карьера'] }]
        .section.nav__section
          .section__title= section.title
          ul.lst.menu.section__menu
            each link in section.links
              li.section.menu__item
                a.lnk.menu__link(href='#')= link
  .footer__copyright.container
    .footer__copyright-text SDP® &nbsp; 2011-2021
