section.rated.container
  h2.rated__title Высокий рейтинг
  ul.lst.rated__products
    each data in [{ img: 'product-1', name: 'Диван кожаный “R-94”', price: '94 990 руб', rating: '5,0' }, { img: 'product-2', name: 'Диван апартековый “T-75”', price: '69 990 руб', rating: '4,9' }, { img: 'product-3', name: 'Диван тканевый “D-31”', price: '28 490 руб', rating: '4,8' }, { img: 'product-4', name: 'Диван велюровый “Y-68”', price: '22 990 руб', rating: '4,8' }, { img: 'product-5', name: 'Диван из шинила “W-95”', price: '22 990 руб', rating: '4,8' }, { img: 'product-6', name: 'Диван флоковый “G-41”', price: '17 990 руб', rating: '4,8' }, { img: 'product-7', name: 'Диван шиниловый “V-43”', price: '19 990 руб', rating: '4,8' }, { img: 'product-8', name: 'Диван велюровый “S-99”', price: '19 990 руб', rating: '4,7' }, { img: 'product-9', name: 'Диван из кожзама “F-85”', price: '26 990 руб', rating: '4,7' }, { img: 'product-10', name: 'Диван флоковый “H-64”', price: '25 990 руб', rating: '4,6' }, { img: 'product-11', name: 'Диван флоковый “H-58”', price: '23 990 руб', rating: '4,6' }, { img: 'product-12', name: 'Диван из кожзама “R-43”', price: '33 990 руб', rating: '4,6' }, { img: 'product-13', name: 'Диван из шинила “С-42”', price: '18 990 руб', rating: '4,6' }, { img: 'product-14', name: 'Диван велюровый “U-58”', price: '21 990 руб', rating: '4,6' }, { img: 'product-15', name: 'Диван флоковый “F-41”', price: '17 990 руб', rating: '4,5' }, { img: 'product-16', name: 'Диван велюровый “R-85”', price: '34 990 руб', rating: '4,5' }, { img: 'product-17', name: 'Диван велюровый “S-44”', price: '19 990 руб', rating: '4,5' }, { img: 'product-18', name: 'Диван из шинила “С-80”', price: '20 990 руб', rating: '4,4' }]
      li.rated__product
        - var className = 'rated__card'
        - var productImg = data.img
        - var productName = data.name
        - var productPrice = data.price
        - var productRating = data.rating
        include ../blocks/product-card
  button.btn.rated__btn Смотреть больше товаров
