:root {
  --clr-primary: #A65CF0;
  --clr-primary-light: #C998FB;
  --clr-primary-shade: #7033AC;
  --clr-pink-light: #F8EFFF;
  --clr-pink-violet: #EBD1FF;
  --clr-secondary: #FF862F;
  --clr-secondary-light: #FFBD59;
  --clr-secondary-shade: #BB370E;
  --clr-red-input: #FF6972;
  --clr-green-input: #B8EC64;
  --clr-gold: #D5B986;
  --clr-white: #FFFFFF;
  --clr-gray-light: #F6F6F6;
  --clr-gray-middle: #EAEAEA;
  --clr-gray: #999999;
  --clr-gray-shade: #666666;
  --clr-black: #333333;
  --clr-bg-20-percent: #00000033;
  --clr-lime: #DAFFD1;
  --clr-bone: #FFF5D1;
}
