:root {
  --clr-primary: #a65cf0;
  --clr-primary-light: #c998fb;
  --clr-primary-shade: #7033ac;
  --clr-pink-light: #f8efff;
  --clr-pink-violet: #ebd1ff;
  --clr-secondary: #ff862f;
  --clr-secondary-light: #ffbd59;
  --clr-secondary-shade: #bb370e;
  --clr-red-input: #ff6972;
  --clr-green-input: #b8ec64;
  --clr-gold: #d5b986;
  --clr-white: #ffffff;
  --clr-gray-light: #f6f6f6;
  --clr-gray-middle: #eaeaea;
  --clr-gray: #999999;
  --clr-gray-shade: #666666;
  --clr-black: #333333;
  --clr-bg-20-percent: #00000033;
  --clr-lime: #daffd1;
  --clr-bone: #fff5d1;
}
