doctype html
html(lang='ru')
  - var title = 'Каталог | Интернет-магазин SitDownPls'
  - var styles = ['normalize.css', 'choices.min.css', 'nouislider.min.css', 'catalog.css']
  - var scripts = ['choices.min.js', 'nouislider.min.js', 'wNumb.min.js', 'catalog.js']
  include partials/head
  body
    - var logoLink = '.'
    - var breadcrumbLinks = [{ anchor: 'Главная', link: 'index.html' }, { anchor: 'Каталог', link: 'catalog.html' }, { anchor: 'Диваны', link: 'catalog.html' }, { anchor: 'Прямые диваны', link: 'catalog.html' }]
    include partials/sections/header
    main
      include partials/sections/breadcrumbs
      include partials/sections/catalog
    include partials/sections/footer
