doctype html
html(lang='ru')
  - var title = 'Главная страница | Интернет-магазин SitDownPls'
  - var styles = ['normalize.css', 'swiper.bundle.min.css', 'choices.min.css', 'index.css']
  - var scripts = ['swiper.bundle.min.js', 'choices.min.js', 'just-validate.production.min.js', 'index.js']
  include partials/head
  body
    - var logoLink = '#'
    include partials/sections/header
    include partials/sections/hero
    include partials/sections/offers
    include partials/sections/rated
    include partials/sections/banner
    include partials/sections/categories
    include partials/sections/useful
    include partials/sections/contact-us
    include partials/sections/footer
