doctype html
html
  - var title = 'Главная страница | Интернет-магазин SitDownPls'
  - var style = 'index.css'
  - var script = 'script.js'
  include partials/head
  body
    - var logoLink = '#'
    include partials/sections/header
    include partials/sections/hero
    //- include partials/sections/offers
    //- include partials/sections/rated
    //- include partials/sections/banner
    //- include partials/sections/categories
    //- include partials/sections/useful
    //- include partials/sections/contact-us
    //- include partials/sections/footer
